In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime
import numpy as np
import pandas as pd
import pickle

In [3]:

model=load_model('new_model.keras')

with open("label_encoder.pkl",'rb') as file:
    label_encoder=pickle.load(file)

with open("one_hot_encoder.pkl",'rb') as file:
    one_hot_encoder=pickle.load(file)

with open("scaler.pkl","rb") as file:
    scaler=pickle.load(file)

In [4]:
cust_data=[{
    'CreditScore':200,
    'Gender':'Male',
    'Age':40,
    'Tenure':2,
    'Balance':400000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'Exited':0,
    'EstimatedSalary':30000
}]

In [5]:
cust_data_df=pd.DataFrame(cust_data)

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encod=LabelEncoder()
cust_data_df['Gender']=label_encod.fit_transform(cust_data_df[["Gender"]])
cust_data_df

c:\Users\codfa\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,EstimatedSalary
0,200,0,40,2,400000,2,1,1,0,30000

In [7]:
# from sklearn.preprocessing import OneHotEncoder
# one_hot_encod=OneHotEncoder()
# geo_encoder=one_hot_encod.fit_transform(cust_data_df[["Geography"]]).toarray()
# geo_encoder

# one_hot_encoder.get_feature_names_out(['Geography'])

In [8]:
# after_encoding=pd.DataFrame(geo_encoder,columns=one_hot_encod.get_feature_names_out(["Geography"]))
# after_encoding

In [9]:
# new_cust_data=pd.concat([cust_data_df.drop('Geography',axis=1),after_encoding],axis=1)
# new_cust_data=cust_data_df.drop(['Exited'],axis=1)

In [10]:
cust_data_df=cust_data_df.drop(['Exited'],axis=1)

In [11]:
std=StandardScaler()
scaled_input=scaler.transform(cust_data_df)
scaled_input

array([[-4.65821054, -1.09278791,  0.10629772, -1.0482813 ,  5.18748735,
         0.80225696,  0.64376017,  0.97725852, -1.21837525]])

In [12]:
predict=model.predict(scaled_input)
predict

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 134ms/step

array([[0.34343424]], dtype=float32)

In [13]:
prob=predict[0][0]
prob

np.float32(0.34343424)