In [2]:
import tensorflow as tf
from  tensorflow import keras
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
input_data=pd.read_csv('Churn_Modelling.csv')
input_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
input_data=input_data.drop(["CustomerId","Surname","RowNumber",'Geography'],axis=1)

In [5]:
label_encoder=LabelEncoder()
input_data["Gender"]=label_encoder.fit_transform(input_data["Gender"])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,42,2,0.00,1,1,1,101348.88,1
1,608,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,39,1,0.00,2,0,0,93826.63,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# #ONE HOT ENCODING
# from sklearn.preprocessing import OneHotEncoder
# one_hot_encoder=OneHotEncoder()
# geo_encoder=one_hot_encoder.fit_transform(input_data[["Geography"]])
# geo_encoder

# one_hot_encoder.get_feature_names_out(["Geography"])
# geo_encoder.toarray()

# after_encoding=pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder.get_feature_names_out(["Geography"]))

In [7]:
#USING PICKLE TO CREATE SERIALIZE AN OBJECT
import pickle
with open("label_encoder.pkl",'wb') as file:
    pickle.dump(label_encoder,file)

# with open("one_hot_encoder.pkl",'wb') as file:
#     pickle.dump(one_hot_encoder,file)

In [8]:
#CONCATENATION OF ORIGINAL DATA WITH AFTER ENCODING GEOGRAPHY DATA AND REMOVING OLD GEOGRAPHY COLUMN 
# new_data=pd.concat([input_data.drop('Geography',axis=1),after_encoding],axis=1)
# new_data

In [9]:
len(new_data.columns)

NameError: name 'new_data' is not defined

In [ ]:
len(input_data.columns)

10

In [ ]:
# X=new_data.drop("Exited",axis=1)
# y=new_data['Exited']

In [ ]:
X=input_data.drop("Exited",axis=1)
y=input_data['Exited']

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(8000, 9) (8000,)
(2000, 9) (2000,)

In [ ]:
#   scaling features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)
X_train.shape

(8000, 9)

In [ ]:
# # SCALER PICKLE FILE
with open('scaler.pkl','wb') as  file:
    pickle.dump(scaler,file)

In [ ]:
from tensorflow.keras.layers import Dense

In [ ]:
model=Sequential()
model.add(Dense(3,activation='sigmoid',input_dim=9))
model.add(Dense(1,activation='sigmoid'))

c:\Users\codfa\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
with open("model.pkl","wb") as file:
    pickle.dump(model,file)

In [ ]:
model.summary()

Model: "sequential_6"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 3)              │            30 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 34 (136.00 B)

 Trainable params: 34 (136.00 B)

 Non-trainable params: 0 (0.00 B)

In [ ]:

model.compile(loss='binary_crossentropy',optimizer='adam')

In [ ]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.5946
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5235
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4895
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4770
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4609
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4506
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4411
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4411
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4415
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4360

In [ ]:
model.layers[0].get_weights()

[array([[ 1.0566440e-01, -4.0872815e-01, -2.1390154e-04],
        [ 5.0501466e-01, -2.6201156e-01,  3.9442319e-01],
        [-7.4222487e-01,  5.7496077e-01, -1.5848613e+00],
        [ 3.0247253e-01,  2.2463213e-01, -8.7674797e-02],
        [-1.8632719e-01,  4.1032532e-01, -4.4938472e-01],
        [ 1.2944053e+00, -5.5338675e-01, -2.9335785e-01],
        [-7.0385337e-02, -4.6283403e-01,  2.8851971e-02],
        [ 8.7188834e-01, -1.2020936e+00,  4.4167283e-01],
        [-1.8124653e-01, -5.0478089e-01, -2.9569060e-02]], dtype=float32),
 array([ 0.6794126 , -0.27584913,  0.34201744], dtype=float32)]

In [ ]:
prediction=model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [ ]:
prob=np.where(prediction>0.5,1,0)
prob

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [ ]:
model.save("new_model.keras")